:root {
	--primary: #000000;
	--white: #ffffff;
	--greyLight-1: #e4ebf5;
	--greyLight-2: #c8d0e7;
	--shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
		-0.2rem -0.2rem 0.5rem var(--white);
	--inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
}

.modalButton{
    margin: 20px;
  border: none;
  width: 30px;
  height: 30px;
  background: #F2F2F2;
  border-radius: 11px;
  text-decoration:none;
  color:#F2F2F2;
  font-size: 20px;
  text-shadow: 3px 2px 3px #00000083;
  box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  transition: box-shadow 399ms ease-in-out;
}

.modalButton:hover{
  box-shadow: inset 7px 7px 15px rgba(66, 66, 66, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
  color:#F2F2F2;
  font-size: 20px;
  text-shadow: 3px 2px 1px #00000071
}

.lupa {
    color: #00000088;
}
.lupa:hover{
    transition: box-shadow 399ms ease-in-out;
    color: #000000ab;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 390px;
    background: #ffffff;
    background: linear-gradient(
      149deg,rgba(255, 255, 255, 1) 12%, 
      rgba(242, 242, 242, 1) 78%, 
      rgba(212, 212, 212, 1) 100%);
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.575);
    padding: 32px;
    border-radius: 8px;
    outline: none;
    margin: 0 auto;
}

.titulo {
    font-size: 30px;
    color: #ffffffbd;
    text-shadow: 2px 3px 2px #00000059;
} 

.descricao {
    background-color: #d8d8d846;
    height: 200px;
    text-align: center;
    justify-content: center;
    overflow-wrap: break-word;
    padding: 20px;
    color: #838383;
    border-radius: 20px;
}

.containerCheckBox{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.trashButton {
    display: flex;
    justify-content: center;
}

.trash {
    background-color: transparent;
    border: none;
    color: #000000;
}

.trash:active{
    color: #555555;
}