html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffffff;

    background: #404040;
    background: linear-gradient(54deg,rgba(0, 0, 38, 1) 0%, rgba(0, 93, 133, 1) 50%, rgba(12, 183, 201, 1) 94%);
    background-size: 200% 200%;
    animation: gradientBackground 60s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
}

@keyframes gradientBackground {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
}

