html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffffff;

    background: #ffffff;
    background: linear-gradient(54deg,rgb(201, 201, 201) 0%, rgb(224, 224, 224) 50%, rgb(255, 236, 207) 94%);
    background-size: 200% 200%;
    animation: gradientBackground 5s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
}

@keyframes gradientBackground {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
}

